1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math

rad=int(input("Enter the Radius : "))
area=math.pi*(rad**2)
print("Area of Circle is :",area)

Enter the Radius : 3
Area of Circle is : 28.274333882308138

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name=input("Enter tha name : ")
rollno=int(input("Enter the roll no : "))
mark=int(input("Enter the mark :"))
print('Name : ',name)
print('Roll No:',rollno)
print('Mark :',mark)

Enter tha name : Anisha
Enter the roll no : 21
Enter the mark :78
Name :  Anisha
Roll No: 21
Mark : 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
num=int(input('Enter Number of elements : '))
l1=[]
for i in range(num):
  n=int(input())
  l1.append(n)
print(l1)
print("Largest Element is :",max(l1))

Enter Number of elements : 4
12
3
147
10
[12, 3, 147, 10]
Largest Element is : 147

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:

for i in range(0,10):
  print('Current number ',i+1, 'Previous Number',i,'sum',i+i+1)

Current number  1 Previous Number 0 sum 1
Current number  2 Previous Number 1 sum 3
Current number  3 Previous Number 2 sum 5
Current number  4 Previous Number 3 sum 7
Current number  5 Previous Number 4 sum 9
Current number  6 Previous Number 5 sum 11
Current number  7 Previous Number 6 sum 13
Current number  8 Previous Number 7 sum 15
Current number  9 Previous Number 8 sum 17
Current number  10 Previous Number 9 sum 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
no_list=[]
num=int(input('Enter the numbers :'))
for i in range(num):
  n=int(input())
  no_list.append(n)
print(no_list)
for j in no_list:
  if j%5==0:
    print(j)

Enter the numbers :3
45
63
55
[45, 63, 55]
45
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
num=int(input("Enter a number : "))
for i in range(2,num//2+1):
  if num%i==0:
    print('Not Prime')
    break
else:
  print('Prime')

Enter a number : 5
Prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
mylist=[10,40,30,70]
rev_list=[]
for i in range(len(mylist)):
  rev=mylist[len(mylist)-i-1]
  rev_list.append(rev)
print("Actual List : ",mylist)
print("Reversed List:",rev_list)

Actual List :  [10, 40, 30, 70]
Reversed List: [70, 30, 40, 10]

In [ ]:
8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
for i in range(4):
   for j in range(i+1):
     print('*',end="")
   print()

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
num1=int(input('Enter First Number :'))
num2=int(input('Enter Second Number :'))
num3=int(input('Enter Third Number :'))
if num1>num2 and num1>num3:
  print("Largest number is ",num1)
elif num2>num1 and num2>num3:
  print('Largest Number is ',num2)
else:
  print('Largest Number is ',num3)

Enter First Number :56
Enter Second Number :36
Enter Third Number :14
Largest number is  56

In [ ]:
10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end='')
  print()
for k in range(4):
  for l in range(4-k):
    print('*',end='')
  print()

*
**
***
****
*****
****
***
**
*