1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
s=input('Enter sentence :')
s1=s.replace(' ','')
s2={}
for i in s1:
  if i in s2:
    s2[i]+=1
  else:
    s2[i]=1

print(str(s2))

Enter sentence :itt iss
{'i': 2, 't': 2, 's': 2}

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def num(n1,n2,n3):
  return n1,n2,n3

numbers=num(34,12,7 )
largest=max(numbers)
print('Given Numbers is ',numbers)
print('Largest Number is ',largest)

Given Numbers is  (34, 12, 7)
Largest Number is  34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [1]:
def exponent(base,exp):
  return base**exp
base=int(input('Enter Base :'))
exp=int(input('Enter Exponent :'))
result=exponent(base,exp)
print('Cube is : ',result)

Enter Base :2
Enter Exponent :3
Cube is :  8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [12]:

def SumCube(n):
  total=0
  for i in range(n):
     total+=i**3
  return total
    #n-=0

n=int(input('Enter a number :'))
result=SumCube(n)
print('sum of the cube of all the positive integers ',result)

Enter a number :4
sum of the cube of all the positive integers  36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1,11):
  if (i%5==0 and i%2==0):
    print("FizzBuzz")
  elif i%2==0:
    print('Fizz')
  elif i%5==0:
    print('Buzz')
  else:
     print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [14]:
l=[2, 3, 4, 2, 5, 2]
num=[]
counter=0
for i in l:
  repeat=l.count(i)
  if (repeat>counter):
    counter=repeat
    num=i
print(num)

2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
l=[2,1,3,1]
total=0
for i in l:
  total+=i**2
print(total)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [15]:
for i in range(1,16):
  if i%2==0:
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
TF=int(input('Enter Temperature in Fahrenheit :'))
TC=(TF-32)/9*5
print('Temperature in Celsius :',TC)

Enter Temperature in Fahrenheit :41
Temperature in Celsius : 5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def fact(n):
  return 1 if(n==0 or n==1) else n*fact(n-1)
n=int(input('Enter a positive Integer :'))
result=fact(n)
print('Factorial of the given Number is ',result)

Enter a positive Integer :3
Factorial of the given Number is  6